.sidebar {
  width: 250px;
  background-color: #fff;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  flex-shrink: 0; /* Ensures the sidebar does not shrink */
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.sidebar-logo-link {
  display: flex;
  align-items: center;
  gap: 8px; /* Adds space between the icon and text */
  text-decoration: none; /* Removes underline from the link */
}

.logo-icon-svg {
  width: 30px;
  height: 30px;
  color: #3498db; /* This line ensures the color is blue */
}

.logo-text {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.admin-panel-text {
  font-size: 14px;
  color: #999;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: #555;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item.active {
  background-color: #e6f7ff;
  color: #007bff;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.menu-icon {
  margin-right: 15px;
  font-size: 20px;
}
